<div class="flex flex-col justify-between h-full pb-12">
  <section>
    <form class="flex flex-col" (ngSubmit)="onSubmitQuestionForm()" [formGroup]="questionForm">
      <div>
        <label for="question" class="pr-4">Enter Question:</label>
        <input type="text" formControlName="question" id="question" class="text-dark-font">
      </div>
      <input type="submit" value="Start">
    </form>
  </section>
  <section class="flex flex-row justify-center items-center gap-4">
    <button class="bg-green-800" (click)="setCorrectAnswer()">Correct Answer</button>
    <button class="bg-red-800" (click)="setWrongAnswer()">Wrong Answer</button>
  </section>
  <app-players [players]="quizService.getPlayers()" [isAdmin]="true"></app-players>
</div>
